.light {

    nav {
        background-color: #ece7e7;
        border: solid #ffffff;
        display: flex;
        justify-content: space-between;
  
        a {
            color: #030302;
        }
  
        label {
            display: flex;
            padding-left: 5px;
  
            h3 {
                padding-left: 500px;
                vertical-align: middle;
                color: #ece7e7;
            }
        }
  
            li {
                display: inline;
                padding-left: 10px;
                padding-right: 20px;
            }
        }
    
  
    /* Big Box */
    main {
        border: solid #ffffff;
        display: flex;
        background-color: #ffffff;
        color: #131010;
        height: 1000px;
  
        @media (max-width: 700px) {
            flex-direction: column;
        }
  
        /* Circle */
        section {
            background-color: #b4b22b;
            border: solid #e9e5dd;
            height: 600px;
            width: 600px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
  
        /* left square */
        div {
            background-color: #fafafa;
            flex: auto;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
  
        li {
            list-style-type: none;
        }
    }
  
    /* Bottom of page */
    footer {
        background-color:#ffffff;
        height: 10px;
        border-bottom: #0f0f0d;
        border-left: #0a0a09;
        border-right: #0a0a0a;
    }
  }