.dark {

  nav {
      background-color: #3b3838;
      border: solid #FFFAF0;
      display: flex;
      justify-content: space-between;

      a {
          color: white;
      }

      label {
          display: flex;
          padding-left: 5px;

          h3 {
              padding-left: 500px;
              vertical-align: middle;
              color: white;
          }
      }

          li {
              display: inline;
              padding-left: 10px;
              padding-right: 20px;
          }
      }
  

  /* Big Box */
  main {
      border: solid #FAEBD7;
      display: flex;
      background-color: #808080;
      color: white;
      height: 1000px;

      @media (max-width: 700px) {
          flex-direction: column;
      }

      /* Circle */
      section {
          background-color: #b4b22b;
          border: solid #110f0b;
          height: 600px;
          width: 600px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: center;
      }

      /* left square */
      div {
          background-color: #808080;
          flex: auto;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      li {
          list-style-type: none;
      }
  }

  /* Bottom of page */
  footer {
      background-color:#000000;
      height: 10px;
      border-bottom: #FFFAF0;
      border-left: #FFFAF0;
      border-right: #FFFAF0;
  }
}