/* This is all of the header */
.dark {

    nav {
        background-color: rgba(0, 0, 0, 0.987);
        border: solid rgb(20, 17, 17) 5px 5px 0 5px;
        display: flex;
        justify-content: space-between;

        a {
            color: rgb(238, 233, 233);
        }

        label {
            display: flex;
            padding-left: 20px;

            h3 {
                padding-left: 5px;
                vertical-align: middle;
                color: #fcfbfb;

            }
        }

            li {
                display: inline;
                padding-left: 10px;
                padding-right: 20px;
            }
        }
    

    /* Big Box */
    main {
        border: solid rgb(73, 68, 68) 5px;
        display: flex;
        background-color: rgba(40, 43, 41, 0.726);
        color: rgb(252, 245, 245);
        height: 800px;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        /* square  */
        section {
            background-color: rgb(34, 37, 35);
            border: solid rgb(32, 29, 29) 5px;
            height: 1000px;
            width: 500x;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            
        }

        /* Square rectangle */
        div {
            background-color: rgba(11, 14, 12, 0.423);
            flex: auto;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            list-style-type: none;
        }
    }

    /* This is the footer */
    footer {
        background-color: rgba(14, 17, 14, 0.913);
        height: 100px;
        border-bottom: rgb(7, 4, 4) solid 5px;
        border-left: rgb(10, 7, 7) solid 5px;
        border-right: rgb(14, 10, 10) solid 5px;
    }
}